<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>    
    <script src="h4.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="todo.css"> -->
	<style>
	.input-group-addon .addon {
		padding: 0;
	}
</style>
  </head>
  <body>
  <div class="container-fluid"s>
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <div class="page-header">
        <h1>Group Application</h1>
      </div>

      <div ng-controller="TodoCtrl">

		
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h2>Add A New Group</h2>
		  </div>
			<div class="panel-body">
				<form ng-submit="newGroup()">
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
					  <input class="form-control" ng-model="ngroup.name" placeholder="Group Name">
					</div>
				  </div>
					
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
					  <textarea class="form-control" ng-model="ngroup.description" placeholder=Description></textarea>
					</div>
				  </div>
					  <button class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
			  <div class="panel panel-info" ng-repeat="group in db.groups track by $index" ng-if="group.name">
				<div class="panel-heading">
					<h2><button class="btn btn-warning btn-xs" ng-click="group.remove()" style='float:right'>Delete group</button> {{group.name}}</h2>
				</div>
				<h3>{{group.description}}</h3>
				<div class="panel-body">
				<ul ng-if="group.hasUsers()" class="list-unstyled">
					<li ng-repeat="user in group.users() track by $index">
						<p><button class="btn btn-danger btn-xs" ng-click="user.remove()">X</button> {{user.id}}-{{user.name}}--{{user.hasTasks()}}</p>

						<ul ng-if="user.hasTasks()" class="list-unstyled well">
							<li ng-repeat="task in user.tasks() track by $index">
								<div class="checkbox">
									<button class="btn btn-warning btn-xs" ng-click="task.remove()"><span class="glyphicon glyphicon-remove"></span></button>
									<button class="btn btn-default btn-xs" ng-click="reassign=!reassign" title="Reassign to another user"><span class="glyphicon glyphicon-send"></span> Reassign</button>
									<label>
										<input type="checkbox" ng-model="task.done">
										<span class="done-{{task.done}}">{{task.text}}</span>
									</label>
								</div>
								
								
								
								<div class="check-element" ng-show="reassign">
									<form>
										<select ng-model="newselection"
										  ng-change="task.reassignTo(newselection);newselection='';reassign=!reassign"
										  ng-options="user.id as user.name for user in group.usersMinus([user.id])">
										  <option value="">Select User</option>
										</select>
									</form>
								</div>
							</li>
						</ul>
						
						<form ng-submit="user.addTask(newtask);newtask=''">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><span class="glyphicon glyphicon-tent"></span></div>
									<input type="text" class="form-control" ng-model="newtask" size="30" placeholder="Add Task">
									<div class="input-group-addon"><button type=submit class="addon btn btn-link btn-xs">+</button></div>
								</div>
							</div>
						</form>
					</li>
				</ul>
				
				<form ng-submit="group.addUser(newuser);newuser=''">
					<br>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
						<input type="text" class="form-control" ng-model="newuser" size="30" placeholder="Add User">
						<div class="input-group-addon"><button type=submit class="addon btn btn-link btn-xs">+</button></div>
					</div>
				</form>
			  </div>
		  </div>

		</div>

      </div>
      </div>
    </div>
  </div>
  </body>
</html>