<!doctype html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://bootswatch.com/lumen/bootstrap.min.css">
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>    
    <script src="h4.js"></script>

	<style>
	.input-group-addon .addon {
		padding: 0;
	}

	h5 {
		font-weight: bold;
	}

	label[task-complete="true"] {
		opacity: 0.7;
	}
    </style>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div ng-controller="TodoCtrl">
      
      <div class="page-header">
		<h1>Midterm Application - FG (CS 454)</h1>
      </div>
		
		<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="alert alert-success">
						<ul class="">
							<li>Group count (total) is displayed in the first panel</li>
							<li>Save or Clear your group data by pressing the appropriate buttons (uses <code>localStorage</code>)</li>
							<li>Other counts are displayed under the group's name</li>
							<li>Create a group to add tasks and students</li>
							<li>Each group displays all of its tasks organized by student</li>
							<li>Tasks without a student are displayed under the "unassigned" section</li>
							<li>Any task can be <strong><span class="glyphicon glyphicon-send"></span> Reassigned</strong> to any user in a group</li>
							<li><strong><span class="glyphicon glyphicon-ok"></span> Done</strong> appears next to completed tasks</li>
							<li>Remove groups/users by clicking the red buttons</li>
							<li>Remove tasks by clicking the yellow buttons</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h2><span class="glyphicon glyphicon-apple"></span> Add A New Group <span class="btn btn-info">Groups <span class="badge">{{db.count('groups')}}</span></span>
			<span class="btn btn-success" ng-click="save()">Save</span>
			<span class="btn btn-warning" ng-click="clear()">Clear</span></h2>
		  </div>
			<div class="panel-body">
				<form ng-submit="newGroup()">
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
					  <input type=text class="form-control" ng-model="ngroup.name" placeholder="Group Name" />
					</div>
				  </div>
					
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
					  <textarea class="form-control" ng-model="ngroup.description" placeholder=Description></textarea>
					</div>
				  </div>
					  <button class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>

			  <div class="panel panel-default" ng-repeat="group in db.tables.groups track by $index" ng-if="group.name">
				<div class="panel-heading">
					<h2><button class="btn btn-danger pull-right" ng-click="group.remove()"><span class="glyphicon glyphicon-remove"></span> Remove Group</button> <span class="glyphicon glyphicon-blackboard"></span> {{group.name}}</h2>
					<p ng-show="group.description"><small><span class="glyphicon glyphicon-chevron-right"></span> {{group.description}}</small></p>
					<div>
						<span class="btn btn-info">Students <span class="badge">{{group.users().length}}</span></span>
						<span class="btn btn-info">Tasks <span class="badge">{{group.tasks().length}}</span></span>
						<span class="btn btn-info">Completed <span class="badge">{{group.finishedTasks().length}}</span></span>
						<span class="btn btn-info">Todo <span class="badge">{{group.tasks().length - group.finishedTasks().length}}</span></span>
					</div>
				</div>
				<div class="panel-body">
				
				<div class="row">
				<div class=col-md-12>
				<div class="form-group">
					<h3>Add Students</h3>
					<form ng-submit="group.addUser(state)">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
							<input type="text" class="form-control" ng-model="state.userName" size="30" placeholder="Name">
							<div class="input-group-addon"><button type=submit class="addon btn btn-link btn-xs">Add</button></div>
						</div>
					</form>
				</div>

				<h3>Add Tasks</h3>
				<div class="well well-sm">
					<h4><span class="glyphicon glyphicon-list-alt"></span> Unassigned</h4>
					<ul ng-if="group.unassignedTasks().length > 0" class="list-unstyled">
						<li ng-repeat="task in group.unassignedTasks()">
							<task-item exclude=false></task-item>
						</li>
					</ul>
					
					<add-task entity="group"></add-task>
				</div>
				
				<div class="form-group" ng-if="group.hasUsers()">
					
					<h3>Add User Tasks</h3>
					<div ng-repeat="user in group.users() track by $index">  <!-- class="col-xs-6" -->
						<div class="well well-sm">
						<h4><button class="btn btn-danger btn-xs pull-right" ng-click="user.remove()"><span class="glyphicon glyphicon-remove"></span> Remove User</button> <span class="glyphicon glyphicon-inbox"></span> {{user.name}}</h4>

						<ul ng-if="user.hasTasks()" class="list-unstyled">
							<li ng-repeat="task in user.tasks() track by $index">
								<task-item exclude=true></task-item>
							</li>
						 </ul>
						<add-task entity="user"></add-task>
					</div>
						
				  </div>
			  </div>
			</div>
				</div>
			</div>
		</div>

      </div>
      </div>
    </div>
  </div>
  </body>
</html>