<div class="well">
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <div class="thumbnail">
        <img ng-src="{{ show.image.medium || 'img/404-cover-lg.png' }}" />
      </div>
    </div>
    <div class="col-md-9 col-xs-9">
      <h2>
        <a ng-href="/show/{{ show.id }}">{{ show.name }}</a>
      </h2>
      <p ng-bind-html="show.summary | trustHTML"></p>
      <p>
        <a class="btn btn-primary" ng-href="/show/{{ show.id }}">Details</a>
      </p>
    </div>
  </div>
</div>
